<div class="major">

  <div class="majorSearch">
    <p style="font-size: large">自动组卷选项</p>
  </div>

  <div class="majorSearch">
    <label class="selectLab">难度:</label>
    <div class="selectOptions">
      <nz-select style="width: 200px;" [(ngModel)]="degree" [nzPlaceHolder]="'请选择难度'" [nzSize]="size">
        <nz-option
          *ngFor="let option of degrees"
          [nzLabel]="option.label"
          [nzValue]="option.value"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>
  </div>

  <div class="majorSearch">
    <p style="font-size: large">题型</p>
  </div>

  <div class="majorSearch">
    <p class="pLab" style="font-size: medium">一：单选题</p>
    <div class="selectOptions">
      <nz-input [(ngModel)]="inputValue" [nzPlaceHolder]="'Basic usage'" (ngModelChange)="_console($event)"></nz-input>
    </div>
    <p class="pLab" style="font-size: medium">题，每题</p>
    <div class="selectOptions">
      <nz-input [(ngModel)]="inputValue" [nzPlaceHolder]="'Basic usage'" (ngModelChange)="_console($event)"></nz-input>
    </div>
    <p class="pLab" style="font-size: medium">分</p>
  </div>

  <div class="majorSearch">
    <p class="pLab" style="font-size: medium">二：多选题</p>
    <div class="selectOptions">
      <nz-input [(ngModel)]="inputValue" [nzPlaceHolder]="'Basic usage'" (ngModelChange)="_console($event)"></nz-input>
    </div>
    <p class="pLab" style="font-size: medium">题，每题</p>
    <div class="selectOptions">
      <nz-input [(ngModel)]="inputValue" [nzPlaceHolder]="'Basic usage'" (ngModelChange)="_console($event)"></nz-input>
    </div>
    <p class="pLab" style="font-size: medium">分</p>
  </div>

  <div class="majorSearch">
    <p class="pLab" style="font-size: medium">三：判断题</p>
    <div class="selectOptions">
      <nz-input [(ngModel)]="inputValue" [nzPlaceHolder]="'Basic usage'" (ngModelChange)="_console($event)"></nz-input>
    </div>
    <p class="pLab" style="font-size: medium">题，每题</p>
    <div class="selectOptions">
      <nz-input [(ngModel)]="inputValue" [nzPlaceHolder]="'Basic usage'" (ngModelChange)="_console($event)"></nz-input>
    </div>
    <p class="pLab" style="font-size: medium">分</p>
  </div>

  <div class="majorSearch">
    <p class="pLab" style="font-size: medium">四：填空题</p>
    <div class="selectOptions">
      <nz-input [(ngModel)]="inputValue" [nzPlaceHolder]="'Basic usage'" (ngModelChange)="_console($event)"></nz-input>
    </div>
    <p class="pLab" style="font-size: medium">题，每题</p>
    <div class="selectOptions">
      <nz-input [(ngModel)]="inputValue" [nzPlaceHolder]="'Basic usage'" (ngModelChange)="_console($event)"></nz-input>
    </div>
    <p class="pLab" style="font-size: medium">分</p>
  </div>

  <div class="endDiv">
    <button nz-button [nzType]="'danger'" [nzSize]="'large'">
      <span>开始组卷</span>
    </button>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'">
      <span>重置数据</span>
    </button>
  </div>


</div>

