<!--<umeditor #editor id="editor" [(ngModel)]="model_text"-->
<!--(contentChange)="contentChange($event)"-->
<!--(ready)="editorReady($event)"-->
<!--(onEditorContentChange)="keyupHandler($event)"-->
<!--(click)="test(editor.text)"></umeditor>-->


<!--<umeditor [(ngModel)]="full_source"</umeditor>-->
<div class="div-title">
  <label class="label-title">上传题目</label>
  <umeditor class="ume-title" [(ngModel)]="model_text" #full></umeditor>

  <label class="label-title">答案</label>
  <umeditor class="ume-title" [(ngModel)]="model_text" #full></umeditor>
  <button class="" nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="getAllHtml()">
    <span>&nbsp;提交&nbsp;</span>
  </button>
  <h1>{{title}}</h1>
</div>


<!-- Indicates a successful or positive action -->

